@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <h3>How to use the platform</h3>
    <ul>
        <li>To see the list with available materials, you need registration</li>
        <li>To post available materials, you have to provide your mobile numbe</li>
    </ul>
}
else
{
    <h3>Login to see the available materials.</h3>
}